html, body {
    margin: 0;
    padding: 0;
    background: #303030;
    font-family: monospace;
}

#tree {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.node {
    display: inline-block;
    background: #292929;
    color: #ededed;
    border: solid #252525 .1rem;
    padding: 1rem;
}
